$color-prim: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$color-pick-background: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$color-link: orange;
$color-text: #333B41;
$color-pick-title:#FE9013;
$color-text-highlight: #ffee2e;
$color-footer: #111115;
$color-header: black;
$color-light: #ffffff;
$color-hover: #e47209;
$color-active: #4b9200;

$content-width: 1160px;
