$color-prim: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-link: orange;
$color-text-highlight: #FFEE2E;
$color-footer: #111115;
$color-header: black;
$color-light: #FFFFFF;
$color-hover: #E47209;

$content-width: 1160px;