.navigation {
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 500);
  display: flex;
}

.navigation__item {
  margin: 0 29px;
  @include media-laptop{
    margin: 0 25px;
}
@include media-tablet{
  margin: 0 20px;
}
}

.navigation__link {
  &_active {
    cursor: default;
    color: $color-link;
  }
}
