.testimonial__wrapper {
    background: $color-testimonial-border;
    width: 268px;
    height: 391px;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-testimonial{
      width: 100%;
      height: 109px;
      
    }
    
  }
  
  .testimonial {
    background: $color-testimonial-background;
    border-radius: 20px;
    height: 100%;
    padding: 15px 13px 15px 15px;
    
    @include media-testimonial{
      padding: 11px 13px 8px 15px;
    }
    @include media-mobilesmall{
      
    }
  }
  
  .testimonial__profile {
    display: flex;
  }
  
  .profile__pic {
    width: 37px;
    height: 37px;
    background-image: url("../icons/user_icon.png");
  }
  
  .profile__info {
    @include font($size: 1.5rem, $height: 1.8rem, $weight: 300);
    padding-left: 8px;
    @include media-mobilesmall{
      padding-left: 3px;
    }
  }
  
  .person-info {
    color: $color-person-info;
    
  }
  .person-name {
    @include font($size: 1.6rem, $height: 1.9rem);
  }
  
  .person-location {
    padding-right: 6px;
    @include media-mobilesmall{
      padding-right: 1px;
    }
  }
  
  .testimonial__comment {
    color: $color-testimonial-comment;
    overflow: hidden;
    @include font($size: 1.5rem, $height: 1.8rem, $weight: 300);
    @include media-testimonial{
      height: 48px;
      
    }
    @include media-mobilesmall{
      
    }
  }
  
  .comment__paragraph {
    margin-top: 10px;
    margin-bottom: 0;
  }

  