.layout-2-columns {
  @extend %columns;
  height: 100%;
}

.layout-2-columns-footer {
  @include columns($width: 31.6%);
}

.layout-2-columns-numbers {
    @extend %columns;
    height: 100%;
}

.layout-3-columns {
  @include columns($width: 31.6%);
  > * {
    margin-top: 18px;
  }
  @include media-laptop{
    @include columns($width: 31.4%);
    >.pets__card-wrapper:nth-child(4),:nth-child(5),:nth-child(6) {
      margin-top: 92px;
    }
  }
}

.layout-4-columns {
  @include columns($width: 23%);
  padding-top: 44px;
  @include media-laptop{
    padding-top: 33px;
    @include columns($width: 31%);
    >.testimonial__wrapper:last-child{
      display: none;
    }
  }
}

.layout-5-columns__wrapper {
  max-width: 764px;
  margin: 0 auto;
}
