.layout-2-columns{
    @extend %columns;
}

.layout-2-columns-footer{
    @include columns($width: 31.6%);
    
}

.layout-3-columns{
    @include columns($width: 31.6%);
    >*{
        margin-top: 18px;
    }
}

.layout-4-columns{
    @include columns($width: 23%);
    padding-top: 44px;
}

.layout-5-columns__wrapper{
    max-width: 764px;
    margin: 0 auto;
}