.footer {
  background-color: $color-footer;
  color: $color-light;
}

.footer__wrapper {
  position: relative;
  padding-top: 39px;
  padding-bottom: 30px;
  
}

.footer__button-block {
  padding-top: 71px;
  padding-bottom: 15px;
}

.footer__button {
  padding: 14px 50px 19px 49px;
  border-radius: 5px;
}

.socials {
  @include font($size: 1.6rem, $height: 2.2rem);
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 6px;
  }
}

.socials__item {
  > a {
    display: inline-flex;
    align-items: center;
    &:active {
      .socials__icon {
        background-color: $color-active;
      }
      color: $color-active;
    }
  }
}

.socials__icon {
  margin-right: 12px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background: $color-socials;
  &_facebook {
    @include social-icon($url: "../icons/fb.svg");
  }
  &_twitter {
    @include social-icon($url: "../icons/tw.svg");
  }
  &_instagram {
    @include social-icon($url: "../icons/inst.svg");
  }
  &_youtube {
    @include social-icon($url: "../icons/yt.svg");
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-laptop{
    flex-basis: 42.4%;
  }
}

.footer__design {
  @include font($size: 1.6rem, $height: 2rem,$weight: 100);
  text-align: right;
  align-self: flex-end;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  > * {
    align-self: flex-end;
    cursor: pointer;
    margin: 10px 0;
    &:active{
      color: $color-active;
      text-decoration: underline;
    }

  }
}

.footer__nav {
  position: absolute;
  bottom: 8%;
  left: 31.8%;
  @include media-laptop{
    left: 28%;
  }
}
