.feed-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font($size: 1.6rem, $height: 2.2rem);
}

.feed-form__input {
  color: $color-feed-form-border;

  padding-left: 8px;
  width: 27.3%;
  height: 54px;
  border-radius: 2px;
  border: 1px solid $color-feed-form-border;
  background: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: right 8px bottom 17px;
  background-image: url('../icons/dollar.svg');
  &:focus{
    background-image: url('../icons/green-dollar.svg');
    border-color: $color-active;
  }
}

.feed-form__options {
  padding: 23px 56px 31px 32px;
  width: 28%;
  display: flex;
  justify-content: space-between;
  input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-pick-title;
  }
  input[type="radio"]:checked {
    background-color: $color-active;
    border-color: $color-active;
  }

  label {
    padding-left: 9px;
    color: $color-default;
    cursor: pointer;
  }
}

.option {
  display: flex;
  align-items: center;
}

.feed-form__button {
  padding: 16px 68px 16px 78px;
}
