.backstage {
  background-image: url("../img/leaves.png");
  background-repeat: no-repeat;
  background-position: top 12px right 0px;
  @include media-add-laptop {
    background-image: none;
  }
  @include media-tablet {
    background-image: url("../img/leaves.png");
    background-position: top -6px right -32px;
    background-size: auto 491px;
  }
  @include media-mobilesmall{
    background-position: top 41px right -43px;
    background-size: auto 215px;
  }
}

.backstage__wrapper {
  padding-top: 140px;
  padding-bottom: 50px;
  @include media-laptop {
    padding-top: 110px;
    padding-bottom: 13px;
  }
  @include media-tablet {
    padding-top: 61px;
    padding-bottom: 30px;
  }
  @include media-mobilesmall{
    padding-top: 18px;
    padding-bottom: 0;
  }
}
.backstage__image {
  background-image: url("../img/man.jpg");
  background-repeat: no-repeat;
  flex-basis: 60%;
  @include media-laptop {
    background-position: top;
    flex-basis: 48.3%;
  }
  @include media-tablet {
    display: none;
  }
}

.backstage__info {
  flex-basis: 40%;
  color: $color-text;
  @include media-laptop {
    flex-basis: 48.1%;
  }
  @include media-tablet {
    flex-basis: 80%;
  }
  @include media-mobilesmall{
    flex-basis: 100%;
    
  }
}

.backstage__title {
  @include font($size: 4.8rem, $height: 5.7rem);
  @include media-tablet {
    padding-left: 5px;
    padding-bottom: 6px;
  }
  @include media-mobilesmall {
    @include font($size: 2.4rem, $height: 2.8rem);
  }
  @include media-mobilesmall{
    padding-top: 31px;
    padding-left: 0;
  }
}

.backstage__subtitle {
  @include font($size: 2.4rem, $height: 2.8rem);
  padding-top: 38px;
  padding-bottom: 21px;
  @include media-laptop {
    padding-bottom: 18px;
  }
  @include media-tablet {
    padding-top: 14px;
    padding-bottom: 4px;
    padding-left: 5px;
  }
  @include media-mobilesmall {
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 1px;
  }
}
.backstage__text {
  @include font($size: 1.6rem, $height: 2.1rem);
  padding-top: 6px;
  @include media-laptop {
    padding-top: 0;
  }
  @include media-mobilesmall{
    p{
      margin-top: 3px;
    }
  }
}

.backstage__button {
  display: none;
  @include media-mobilesmall{
    display: block;
    padding: 16px 88px 19px 94px;
  }
}
