.feed {
  background: $color-pick-background;
  >.wrapper{
    @include media-mobilesmall{
      padding-left: 9px;
    }
  }
}

.feed__wrapper {
  padding-top: 39px;
  padding-bottom: 180px;
  @include media-laptop {
    padding-bottom: 31px;
  }
  @include media-tablet {
    padding-top: 32px;
    padding-bottom: 46px;
  }
  @include media-mobilesmall{
    padding-bottom: 18px;
  }
}

.feed__brief {
  color: $color-light;
}

.brief__title {
  @include font($size: 3.6rem, $height: 4.6rem);
  @include media-laptop {
    padding-right: 91px;
  }
  @include media-tablet {
    @include font($size: 2.4rem, $height: 2.8rem);
    padding-right: 19px;
  }
  @include media-mobilesmall {
    padding-right: 0;
  }
}

.brief__text {
  margin-top: 10px;
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 500);
  &_regular {
    font-weight: 400;
  }
  @include media-laptop {
    margin-top: 32px;
  }
  @include media-tablet {
    margin-top: 21px;
  }
  @include media-mobilesmall {
    padding-right: 2px;
  }
}

.feed__donation-info {
  @extend %pick__content-background;
  border-radius: 20px;
}

.donation-info__form-content {
  @include media-tablet {
    padding-bottom: 30px;
  }
  @include media-mobilesmall{
    padding-bottom: 22px;
  }
}

.donation-info__content {
  padding: 40px 92px 0px;
  @include media-laptop {
    padding: 19px 48px 0px;
  }
  @include media-tablet {
    padding-top: 34px;
    padding-right: 43px;
  }
  @include media-mobilesmall {
    padding-top: 20px;
    padding-right: 3px;
    padding-left: 0;
  }
}

.donation-info__title {
  color: $color-pick-title;
  @include font($size: 3.6rem, $height: 4.7rem);
  margin: 49px 0px 59px;
  @include media-laptop {
    margin: 47px 0px 39px;
  }
  @include media-tablet {
    margin: 28px 0px 29px;
  }
  @include media-mobilesmall {
    @include font($size: 2.4rem, $height: 2.8rem);
    margin-top: 33px;
  }
}

.donation-info__subtitle {
  color: $color-pick-title;
  @include font($size: 4.8rem, $height: 5.76rem);
  text-align: center;
  padding-right: 10px;
  @include media-tablet {
    padding-right: 0;
  }
  @include media-mobilesmall {
    @include media-mobilesmall {
      @include font($size: 2.4rem, $height: 2.8rem);
    }
  }
}

.donation-info__text {
  color: $color-text;
  @include font($size: 2.4rem, $height: 2.8rem);
  @include media-laptop {
    margin-top: 13px;
  }
  @include media-tablet {
    margin-top: 19px;
    text-align: center;
  }
  @include media-mobilesmall {
    @include font($size: 1.6rem, $height: 2.2rem);
    margin-top: 9px;
  }
}

.donation-info__diet {
  max-width: 600px;
  margin: 0 auto;
  height: 250px;
  margin-top: 54px;
  margin-bottom: 46px;
  @include media-laptop {
    margin-top: 57px;
    margin-bottom: 45px;
  }
  @include media-tablet {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  @include media-mobilesmall {
    margin-top: 0;
    height: 134px;
    margin-bottom: 3px;
  }
}

.diet__numbers {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers__info {
}

.numbers__ammount {
  color: $color-header;
  @include font($size: 7.2rem, $height: 5.7rem, $weight: 500);
  @include media-mobilesmall {
    @include font($size: 4rem, $height: 3.2rem);
  }
}

.numbers__info {
  display: flex;
  height: 91px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
  @include media-mobilesmall{
    justify-content: flex-start;
  }
}

.numbers__for-day {
  color: $color-text;
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 400);

  @include media-mobilesmall {
    @include font($size: 0.9rem, $height: 1.2rem);
    margin-top: 8px;
  }
}

.numbers__per {
  width: 28px;
  background-image: url("../icons/x.png");
  background-repeat: no-repeat;
  background-position: left 11px bottom 104px;
  @include media-mobilesmall{
    background-position: left 5px bottom 69px;
    background-size: 8px 8px;
  }
}

.diet__animal {
  flex-basis: 60%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../icons/panda-diet.png");
  background-position: center;
  @include media-mobilesmall {
    flex-basis: 53%;
    background-size: 158px 134px;
  }
}

.donation-info__feeding-range {
  padding: 0px 17px;
  @include media-tablet {
    padding: 0;
  }
}

.donation-info__form {
  padding-top: 42px;
  @include media-mobilesmall{
    padding-top: 16px;
  }
}

.donation-info__postsciption {
  color: $color-text;
  @include font($size: 1.6rem, $height: 2.2rem);
  padding-top: 31px;
  text-align: center;
  @include media-tablet {
    padding-top: 28px;
  }
  @include media-mobilesmall{
    padding-top: 31px;
  }
}
