.pets {
  position: relative;
}

.pets__wrapper {
  position: relative;
  z-index: 3;
  padding-top: 98px;
  padding-bottom: 101px;
  @include media-laptop{
    padding-bottom: 138px;
  }
}

.pets__card-wrapper {
  background: $color-prim;
  cursor: pointer;
  max-width: 366px;
  height: 426px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1px;
  
  @include media-add-laptop{
      height: 355px;
      justify-content: space-between;
  }
}



.pets__button-block {
  display: flex;
  justify-content: center;
  padding-top: 81px;
}

.pets__button {
  padding: 16px 53px 16px 59px;
}

.pets__slider-buttons {
  position: absolute;
  top: 518px;
  width: 82.8%;
  height: 62px;
  left: 8.5%;
  @include media-add-laptop{
    top: 485px;
    left: 35%;
    width: 30%;
  }
}

.slider-button {
  position: absolute;
  width: 62px;
  padding: 0;
  height: 62px;
  border-radius: 50%;

  &_left {
    left: 0;
  }
  &_right {
    right: 0;
    
  }
}


.pets__background-images{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.backgroound-images__palm{
  position: absolute;
  left: -150px;
  bottom: 0;
  height: 160%;
  @include media-add-laptop{
    left: 0;
    height: auto;
  }
}

.backgroound-images__flower{
  position: absolute;
    
    width: 23%;
    right: 0;
    bottom: 0;
}