.pets {
  position: relative;
}

.pets__wrapper {
  position: relative;
  z-index: 3;
  padding-top: 98px;
  padding-bottom: 101px;
}

.pets__card-wrapper {
  background: $color-prim;
  cursor: pointer;
  max-width: 366px;
  height: 426px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1px;
  &:hover {
  }
}



.pets__button-block {
  display: flex;
  justify-content: center;
  padding-top: 81px;
}

.pets__button {
  padding: 16px 53px 16px 59px;
}

.pets__slider-buttons {
  position: absolute;
  top: 518px;
  width: 82.8%;
  left: 8.5%;
}

.slider-button {
  position: absolute;
  width: 62px;
  padding: 0;
  height: 62px;
  border-radius: 50%;

  &_left {
    left: 0;
  }
  &_right {
    right: 0;
    
  }
}


.pets__background-images{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.backgroound-images__flower{
    height: 60%;
}